<!-- CAROUSEL -->

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("msg-one.jpg", class: "d-block w-100") %>
    </div>
    <!-- <div class="carousel-item">
      <%= image_tag("msg-two.jpg", class: "d-block w-100") %>
    </div> -->
    <div class="carousel-item">
      <%= image_tag("msg-three.jpg", class: "d-block w-100") %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!-- BANNERS -->

<div class="banner-one">
  <div class="header-one">
    <div class="col-12 col-md-6">
      <h1><b>Cada vale-presente vale o presente e o futuro das Mulheres do Sul Global</b></h1>
    </div>
  </div>
</div>

<div class="banner-two">
  <div class="video">
    <iframe src="https://drive.google.com/file/d/1vZyoo80XLioF19wx5KZS4-TfdKCbjWv2/preview" allowfullscreen></iframe>
  </div>
  <p>Assista ao vídeo da nossa fundadora, Manu, contando mais sobre o projeto e a ação de Natal.</p>
</div>

<div class="banner-three">
  <div class="header-three">
    <div>
      <div>
        <h1 class="mb-4"><b>MSG LAB</b></h1>
      </div>
      <div>
        <p>
          MSG LAB é um laboratório de aprendizagem e profissionalização dedicado à mulheres
          iniciantes ou com habilidades de costura.
          <br>
          <br>
          Nosso programa é projetado para que as mulheres dominem as habilidades essenciais para trabalhar 
          como uma costureira industrial.
          <br>
          <br>
          Com aulas práticas, de forma a contribuir para a integração econômica sustentável,
          as alunas aprendem fazendo e desenvolvem as habilidades iniciais necessárias para se tornarem
          microempreendedores ou profissionais da área têxtil.
        </p>
      </div>
      <div class="text-center mt-5">
        <%= link_to "/msg-lab" do %>
          <p class="btn">Conheça o programa</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="banner-four">
  <div class="cards">
    <%= link_to "/sobre" do %>
      <div class="card-one m-3"><h5>NOSSA HISTÓRIA</h5></div>
    <% end %>
    
    <%= link_to root_path do %>
      <div class="card-two m-3"><h5>NOSSA LOJA</h5></div>
    <% end %>
    
    <%= link_to "/msg-lab" do %>
      <div class="card-three m-3"><h5>MSG LAB</h5></div>
    <% end %>
    
    <%= link_to "/contato" do %>
      <div class="card-four m-3"><h5>CONTRIBUA</h5></div>
    <% end %>
  </div>
</div>
