<div class="banner-about">
  <%= image_tag("sobrenos.png", class: "banner-sobre") %>
</div>

<div class="container classes">
  
  <!-- TURMA 5 - 2020 -->
  
  <h2>Turma 5 – 2020</h2>

  <div class="slider owl-carousel owl-theme turma-2020-5 mt-5 mb-5">
    <div class="card">
      <div class="img img-one">
        <%# <img src="https://i.imgur.com/UUH9v3Z.jpg"> %>
        <%= image_tag("turmas-2020-5-1.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-two">
        <%# <img src="https://i.imgur.com/XVzcyCV.jpg"> %>
        <%= image_tag("turmas-2020-5-2.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-three">
        <%# <img src="https://i.imgur.com/zlvV1J0.jpg"> %>
        <%= image_tag("turmas-2020-5-3.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-four">
        <%# <img src="https://i.imgur.com/Yg3OMlB.jpg"> %>
        <%= image_tag("turmas-2020-5-4.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-five">
        <%# <img src="https://i.imgur.com/DJxrrFn.jpg"> %>
        <%= image_tag("turmas-2020-5-5.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-six">
        <%# <img src="https://i.imgur.com/jtv3G4b.jpg"> %>
        <%= image_tag("turmas-2020-5-6.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-seven">
        <%# <img src="https://i.imgur.com/Qrm0vdr.jpg"> %>
        <%= image_tag("turmas-2020-5-7.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-eight">
        <%# <img src="https://i.imgur.com/C9lbzvh.jpg"> %>
        <%= image_tag("turmas-2020-5-8.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>
  </div>


  <!-- TURMA 4 - 2020 -->
  
  <h2>Turma 4 – 2020</h2>

  <div class="slider owl-carousel owl-theme mt-5 mb-5">
    <div class="card">
      <div class="img">
        <img src="https://i.imgur.com/VBCvplG.jpg">
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img">
        <img src="https://i.imgur.com/Yfn0vL7.jpg">
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img">
        <img src="https://i.imgur.com/ulqEbzn.jpg">
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img">
        <img src="https://i.imgur.com/fedVlYw.jpg">
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img">
        <img src="https://i.imgur.com/N2k00sD.jpg">
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img">
        <img src="https://i.imgur.com/QI5VpvX.jpg">
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img">
        <img src="https://i.imgur.com/7VzgbT4.jpg">
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img">
        <img src="https://i.imgur.com/h8iVyey.jpg">
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>
  </div>


  <!-- OWL CAROUSEL -->

  <script>
    $(".slider").owlCarousel({
      loop: true,
      autoplay: true,
      autoplayTimeout: 4000, //2000ms = 2s;
      autoplayHoverPause: true,
      center:true,
      dots:true,
      responsive:{
          0:{
              items:1
          },
          600:{
              items:3
          },
          1000:{
              items:3
          }
      }
    })
  </script>
</div>
