<div class="banner-about">
  <%= image_tag("turmas.jpg", class: "banner-sobre") %>
</div>

<div class="container classes">

  <!-- TURMA 5 -->

  <h2>Turma 5</h2>
  <p class="year">(2020)</p>

  <div class="slider owl-carousel owl-theme turma-5 mt-5 mb-5">
    <div class="card">
      <div class="img img-one">
        <%= image_tag("turma-5-1-blanca-villamizar.jpg") %>
        <p class="title text-center pt-3">
          Blanca Villamizar, <b>Colômbia</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-two">
        <%= image_tag("turma-5-2-lilianlly-marcano.jpg") %>
        <p class="title text-center pt-3">
          Lilianlly Marcano, <b>Venezuela</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-three">
        <%= image_tag("turma-5-3.jpg") %>
        <%# <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p> %>
      </div>
    </div>

    <div class="card">
      <div class="img img-four">
        <%= image_tag("turma-5-4-ana-alarcon.jpg") %>
        <p class="title text-center pt-3">
          Ana Alarcon, <b>Peru</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-five">
        <%= image_tag("turma-5-5-mercedes-pacheco.jpg") %>
        <p class="title text-center pt-3">
          Mercedes Pacheco, <b>Argentina</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-six">
        <%= image_tag("turma-5-6-maria-rosales.jpg") %>
        <p class="title text-center pt-3">
          Maria Rosales, <b>Peru</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-seven">
        <%= image_tag("turma-5-7.jpg") %>
        <%# <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p> %>
      </div>
    </div>

    <div class="card">
      <div class="img img-eight">
        <%= image_tag("turma-5-8-cecilia-martinez.jpg") %>
        <p class="title text-center pt-3">
          Cecilia Martinez, <b>Venezuela</b>
        </p>
      </div>
    </div>
  </div>


  <!-- TURMA 4 -->

  <h2>Turma 4</h2>
  <p class="year">(2020)</p>

  <div class="slider owl-carousel owl-theme turma-4 mt-5 mb-5">
    <div class="card">
      <div class="img img-one">
        <%= image_tag("turma-4-1-maria-rosales.jpg") %>
        <p class="title text-center pt-3">
          María Rosales, <b>Peru</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-two">
        <%= image_tag("turma-4-2-epifania-fonte.jpg") %>
        <p class="title text-center pt-3">
          Epifánia Fonte, <b>Angola</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-three">
        <%= image_tag("turma-4-3-dina-santillan.jpg") %>
        <p class="title text-center pt-3">
          Dina Santillan, <b>Peru</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-four">
        <%= image_tag("turma-4-4-gisselle-splendiani.jpg") %>
        <p class="title text-center pt-3">
          Gisselle Splendiani, <b>Venezuela</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-five">
        <%= image_tag("turma-4-5-yerneidy-perez.jpg") %>
        <p class="title text-center pt-3">
          Yerneidy Perez, <b>Venezuela</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-six">
        <%= image_tag("turma-4-6-yusmery-rodriguez.jpg") %>
        <p class="title text-center pt-3">
          Yusmery Rodriguez, <b>Venezuela</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-seven">
        <%= image_tag("turma-4-7-nair-alvarado.jpg") %>
        <p class="title text-center pt-3">
          Nair Alvarado, <b>Venezuela</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-eight">
        <%= image_tag("turma-4-8-daniela-brito.jpg") %>
        <p class="title text-center pt-3">
          Daniela Brito, <b>Venezuela</b>
        </p>
      </div>
    </div>
  </div>


  <!-- TURMA 3 -->

  <h2>Turma 3</h2>
  <p class="year">(2020)</p>

  <div class="slider owl-carousel owl-theme turma-3 mt-5 mb-5">
    <div class="card">
      <div class="img img-one">
        <%= image_tag("turma-3-1.jpg") %>
        <%# <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p> %>
      </div>
    </div>

    <div class="card">
      <div class="img img-two">
        <%= image_tag("turma-3-2.jpg") %>
        <%# <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p> %>
      </div>
    </div>

    <div class="card">
      <div class="img img-three">
        <%= image_tag("turma-3-3.jpg") %>
        <%# <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p> %>
      </div>
    </div>

    <div class="card">
      <div class="img img-four">
        <%= image_tag("turma-3-4.jpg") %>
        <%# <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p> %>
      </div>
    </div>

    <div class="card">
      <div class="img img-five">
        <%= image_tag("turma-3-5.jpg") %>
        <%# <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p> %>
      </div>
    </div>

    <div class="card">
      <div class="img img-six">
        <%= image_tag("turma-3-6.jpg") %>
        <%# <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p> %>
      </div>
    </div>

    <div class="card">
      <div class="img img-seven">
        <%= image_tag("turma-3-7.jpg") %>
        <%# <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p> %>
      </div>
    </div>
  </div>


  <!-- TURMA 2 -->

  <h2>Turma 2</h2>
  <p class="year">(2019)</p>

  <div class="slider owl-carousel owl-theme turma-2 mt-5 mb-5">
    <div class="card">
      <div class="img img-one">
        <%= image_tag("turma-2-1.jpg") %>
        <p class="title text-center pt-3">
          Yussek, <b>Venezuela</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-two">
        <%= image_tag("turma-2-2.jpg") %>
        <p class="title text-center pt-3">
          Yusmelis, <b>Venezuela</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-three">
        <%= image_tag("turma-2-3.jpg") %>
        <p class="title text-center pt-3">
          Yuli, <b>Venezuela</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-four">
        <%= image_tag("turma-2-4.jpg") %>
        <p class="title text-center pt-3">
          Yennifer, <b>Venezuela</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-five">
        <%= image_tag("turma-2-5.jpg") %>
        <p class="title text-center pt-3">
          Yanecer, <b>Venezuela</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-six">
        <%= image_tag("turma-2-6.jpg") %>
        <p class="title text-center pt-3">
          Sagrace, <b>Congo</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-seven">
        <%= image_tag("turma-2-7.jpg") %>
        <p class="title text-center pt-3">
          Melanys, <b>Venezuela</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-eight">
        <%= image_tag("turma-2-8.jpg") %>
        <p class="title text-center pt-3">
          Margarita, <b>Venezuela</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-nine">
        <%= image_tag("turma-2-9.jpg") %>
        <p class="title text-center pt-3">
          Liliana, <b>Venezuela</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-ten">
        <%= image_tag("turma-2-10.jpg") %>
        <p class="title text-center pt-3">
          Janeth Garcia, <b>Venezuela</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-eleven">
        <%= image_tag("turma-2-11.jpg") %>
        <p class="title text-center pt-3">
          Ivandira, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-twelve">
        <%= image_tag("turma-2-12.jpg") %>
        <p class="title text-center pt-3">
          Doris, <b>Venezuela</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-thirteen">
        <%= image_tag("turma-2-13.jpg") %>
        <p class="title text-center pt-3">
          Celina, <b>Angola</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-fourteen">
        <%= image_tag("turma-2-14.jpg") %>
        <p class="title text-center pt-3">
          Betti, <b>Congo</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-fifteen">
        <%= image_tag("turma-2-15.jpg") %>
        <p class="title text-center pt-3">
          Aimerance Kalambayi, <b>Congo</b>
        </p>
      </div>
    </div>
  </div>


  <!-- TURMA 1 -->

  <h2>Turma 1</h2>
  <p class="year">(2017/2018)</p>

  <div class="owl-carousel owl-theme turma-1 mt-5 mb-5">
    <div class="card">
      <div class="img img-one">
        <%= image_tag("turma-1-1.jpg") %>
        <p class="title text-center pt-3">
          Tereza Vituriano, <b>Brasil</b>
        </p>
      </div>
    </div>
  </div>


  <!-- OWL CAROUSEL -->

  <script>
    $(".slider").owlCarousel({
      loop: true,
      autoplay: false,
      center:true,
      dots:true,
      responsive:{
          0:{
              items:1
          },
          600:{
              items:3
          },
          1000:{
              items:3
          }
      }
    })
  </script>
</div>

<script>
    $(".turma-1").owlCarousel({
      autoplay: false,
      center:true,
      dots:true,
      responsive:{
          0:{
              items:1
          },
          600:{
              items:3
          },
          1000:{
              items:3
          }
      }
    })
  </script>
</div>
