<div class="banner-about">
  <%= image_tag("sobrenos.png", class: "banner-sobre") %>
</div>

<div class="container classes">
  
  <!-- TURMA 5 - 2020 -->
  
  <h2>Turma 5 – 2020</h2>

  <div class="slider owl-carousel owl-theme turma-2020-5 mt-5 mb-5">
    <div class="card">
      <div class="img img-one">
        <%= image_tag("turmas-2020-5-1.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-two">
        <%= image_tag("turmas-2020-5-2.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-three">
        <%= image_tag("turmas-2020-5-3.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-four">
        <%= image_tag("turmas-2020-5-4.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-five">
        <%= image_tag("turmas-2020-5-5.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-six">
        <%= image_tag("turmas-2020-5-6.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-seven">
        <%= image_tag("turmas-2020-5-7.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-eight">
        <%= image_tag("turmas-2020-5-8.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>
  </div>


  <!-- TURMA 4 - 2020 -->
  
  <h2>Turma 4 – 2020</h2>

  <div class="slider owl-carousel owl-theme turma-2020-4 mt-5 mb-5">
    <div class="card">
      <div class="img img-one">
        <%= image_tag("turmas-2020-4-1.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-two">
        <%= image_tag("turmas-2020-4-2.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-three">
        <%= image_tag("turmas-2020-4-3.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-four">
        <%= image_tag("turmas-2020-4-4.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-five">
        <%= image_tag("turmas-2020-4-5.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-six">
        <%= image_tag("turmas-2020-4-6.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-seven">
        <%= image_tag("turmas-2020-4-7.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-eight">
        <%= image_tag("turmas-2020-4-8.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>
  </div>


  <!-- TURMA 3 - 2020 -->
  
  <h2>Turma 3 – 2020</h2>

  <div class="slider owl-carousel owl-theme turma-2020-3 mt-5 mb-5">
    <div class="card">
      <div class="img img-one">
        <%= image_tag("turmas-2020-3-1.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-two">
        <%= image_tag("turmas-2020-3-2.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-three">
        <%= image_tag("turmas-2020-3-3.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-four">
        <%= image_tag("turmas-2020-3-4.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-five">
        <%= image_tag("turmas-2020-3-5.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-six">
        <%= image_tag("turmas-2020-3-6.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="img img-seven">
        <%= image_tag("turmas-2020-3-7.jpg") %>
        <p class="title text-center pt-3">
          Emanuela Pinheiro, <b>Brasil</b>
        </p>
      </div>
    </div>
  </div>


  <!-- OWL CAROUSEL -->

  <script>
    $(".slider").owlCarousel({
      loop: true,
      autoplay: false,
      center:true,
      dots:true,
      responsive:{
          0:{
              items:1
          },
          600:{
              items:3
          },
          1000:{
              items:3
          }
      }
    })
  </script>
</div>
